body {
  font-size: 16px;
}
h1 {
  font-family: sans-serif;
  text-decoration: overline;
}
p, h1 {
  text-align: center;
}

p {
  font-weight: 600;
  font-size: 3em;
}
li {
  line-height: 40px;
}
li:first-child {
  background-color: yellow;
}
li:nth-child(2) {
  background-color: red;
}
li:last-child {
  background-color: brown;
}